<section class="section">
  <div class="container">
    <h1 class="title"><%= t('password_reset.edit.title') %></h1>
    <%= form_with model: @user, url: password_reset_path(@token) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :email %>
        <div class="control">
          <%= @user.email %>
        </div>
      </div>
      <div class="field">
        <%= f.label :password %>
        <div class="control">
          <%= f.password_field :password %>
        </div>
      </div>
      <div class="field">
        <%= f.label :password_confirmation %>
        <div class="control">
          <%= f.password_field :password_confirmation %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.submit t('defaults.reset'), class: 'button is-info' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
