<div class="content has-text-centered">
  <div class="my-3 mx-3">
    <h2><%= t('activerecord.models.comment') %></h2>
  </div>
</div>
<div class="column">
  <div class="box content">
    <%= form_with model: comment, url: [post, comment], local: true do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <div class="field">
        <%= f.label :body, class: 'label' %>
        <div class="control">
          <%= f.text_area :body, id: 'js-new-comment-body', class: 'textarea', rows: '2', placeholder: '400字以内' %>
        </div>
      </div>
      <div class="field">
        <div class="control">
          <%= f.submit t('defaults.post_register'), class: 'button is-info' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
