<header class='header'>
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to 'Finding Fish Book', root_path, class: 'navbar-item has-text-white has-text-weight-bold' %>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to t('defaults.home'), root_path, class: 'navbar-item' %>
          <%= link_to t('activerecord.models.post'), posts_path, class: 'navbar-item' %>
          <%= link_to t('fishes.index.title'), fishes_path, class: 'navbar-item' %>
          <%= link_to t('aquariums.index.title'), aquariums_path, class: 'navbar-item' %>
        </div>
        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <%= link_to t('users.new.title'), new_user_path, class: 'button is-light' %>
              <%= link_to t('defaults.login'), login_path, class: 'button is-light' %>
              <%= link_to t('defaults.guest_login'), '/guest_login', data: { turbo_method: :post }, class: 'button is-light' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>