<header id='header' class='header'>
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="container">
      <%= link_to 'Finding Fish Book', root_path, class: 'navbar-item has-text-white has-text-weight-bold has-text-info has-text-white-bis', style: 'transition: color 0.3s;' %>
        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to 'ホーム', root_path, class: 'navbar-item has-text-white' %>
          <%= link_to '投稿一覧', posts_path, class: 'navbar-item has-text-white' %>
          <%= link_to '魚一覧', fishes_path, class: 'navbar-item has-text-white' %>
          <%= link_to '水族館一覧', aquariums_path, class: 'navbar-item has-text-white' %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" id="header-profile">
              <%= image_tag 'sample_icon.png', class: 'is-rounded' %>
            </a>

            <div class="navbar-dropdown is-right">
              <div class="navbar-item">浦島太郎</div>
              <hr class="navbar-divider">
              <%= link_to 'プロフィール', '#', class: 'navbar-item' %>
              <%= link_to 'ログアウト', logout_path, class: 'navbar-item', data: { turbo_method: :delete } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
