<header class='header'>
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to 'Finding Fish Book', root_path, class: 'navbar-item has-text-white has-text-weight-bold' %>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <%= link_to t('defaults.home'), root_path, class: 'navbar-item' %>
          <%= link_to t('activerecord.models.post'), posts_path, class: 'navbar-item' %>
          <%= link_to t('fishes.index.title'), fishes_path, class: 'navbar-item' %>
          <%= link_to t('aquariums.index.title'), map_path, class: 'navbar-item' %>
        </div>

        <div class="navbar-end">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link is-flex" id="header-profile">
              <%= image_tag current_user.icon.url, class: 'is-rounded mr-2' %>
              <%= current_user.name %>
            </a>

            <div class="navbar-dropdown is-right">
              <%= link_to t('profiles.show.title'), profile_path, class: 'navbar-item' %>
              <%= link_to t('posts.likes.title'), likes_posts_path, class: 'navbar-item' %>
              <%= link_to t('defaults.logout'), logout_path, class: 'navbar-item', data: { turbo_method: :delete } %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>
