<section class="section">
  <div class="container">
    <div class="is-pulled-right">
      <%= link_to t('aquariums.index.title'), aquariums_path, class: "button is-info is-outlined" %>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns is-mobile is-multiline">
      <div class="column">
        <%= link_to t('aquarium_maps.index.hokkaido'), map_hokkaido_path, class: "button is-link is-light", data: { turbo: false } %>
      </div>
      <div class="column">
        <%= link_to t('aquarium_maps.index.tohoku'), map_tohoku_path, class: "button is-info is-light", data: { turbo: false } %>
      </div>
      <div class="column">
        <%= link_to t('aquarium_maps.index.tokyo'), map_tokyo_path, class: "button is-success is-light", data: { turbo: false } %>
      </div>
      <div class="column">
        <%= link_to t('aquarium_maps.index.kanto'), map_kanto_path, class: "button is-success is-light", data: { turbo: false } %>
      </div>
      <div class="column">
        <%= link_to t('aquarium_maps.index.chubu'), map_chubu_path, class: "button is-ghost map-chubu", data: { turbo: false } %>
      </div>
      <div class="column">
        <%= link_to t('aquarium_maps.index.kinki'), map_kinki_path, class: "button is-warning is-light", data: { turbo: false } %>
      </div>
      <div class="column">
        <%= link_to t('aquarium_maps.index.chugoku'), map_chugoku_path, class: "button is-ghost map-chugoku", data: { turbo: false } %>
      </div>
      <div class="column">
        <%= link_to t('aquarium_maps.index.shikoku'), map_shikoku_path, class: "button is-ghost map-shikoku", data: { turbo: false } %>
      </div>
      <div class="column">
        <%= link_to t('aquarium_maps.index.kyushu'), map_kyushu_path, class: "button is-danger is-light", data: { turbo: false } %>
      </div>
      <div class="column">
        <%= link_to t('aquarium_maps.index.okinawa'), map_okinawa_path, class: "button is-danger is-light", data: { turbo: false } %>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <i class="fa-regular fa-circle-up"></i>
        ボタンをクリックすると各地域のMAPに移動します。
      </div>
    </div>
  </div>
</section>

<%= image_tag 'map_japan.png', alt: "Map of Japan", class: "mb-5", style: "max-height: 70vh; width: 100%; object-fit: contain;" %>
