<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta lang='ja'>
    <meta name="robots" content="noindex, nofollow">
    <title>Admin - FindingFishBook</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: 'all', "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
    <%= javascript_import_module_tag "preview" %>
    <%= javascript_import_module_tag "header_navbar" %>
    <%= javascript_import_module_tag "@fortawesome/fontawesome-free" %>
    <%= javascript_import_module_tag "@hotwired/turbo-rails" %>
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
  <div class="wrapper">
    <%= render 'admin/shared/header' %>
    <%= render 'admin/shared/sidebar' %>
    <div class="content-wrapper">
      <%= render 'shared/flash_message' %>
      <%= yield %>
    </div>
    <%= render 'admin/shared/footer' %>
  </div>
  </body>
</html>
