<section class="hero is-light">
  <div class="container">
    <div class="content">
      <div class="mt-3 mb-3">
        <h2><%= @fish.name %></h2>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column has-text-centered is-flex is-align-items-center is-justify-content-center">
        <%= image_tag @fish.image_url %>
      </div>
      <div class="column">
        <div class="content">
          <h4><%= t('defaults.animal_crossing_info') %></h4>
          <ul>
            <li>
              <strong><%= t('activerecord.models.location')%> : <%= @fish.location.name %></strong>
            </li>
            <li>
              <strong><%= t('activerecord.attributes.fish.selling_price_tanuki') %> : <%= @fish.selling_price_tanuki %></strong>
            </li>
            <li>
              <strong><%= t('activerecord.attributes.fish.selling_price_justin') %> : <%= @fish.selling_price_justin %></strong>
            </li>
          </ul>
        </div>
      </div>
      <div class="column">
        <div class="content">
          <h4><%= t('fishes.show.encounter_aquarium') %></h4>
            <% @aquarium_with_fish.each do |aquariums| %>
              <%= link_to aquariums.aquarium.name, aquarium_path(aquariums.aquarium), class: 'button is-link is-rounded has-text-white'  %>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
<hr class="mx-5">
<section class="section">
  <div class="container">
    <div class="content has-text-centered">
      <div class="my-3 mx-3">
        <h2><%= t('defaults.everyones_post') %></h2>
      </div>
    </div>
    <div class="columns is-multiline">
      <% @post_with_fish.each do |posts| %>
        <div class="column is-one-quarter">
          <div class="card my-4 mx-4">
            <div class="card-image my-3 mx-3">
              <figure class="image is-4by3">
                <%= image_tag posts.post_image_url %>
              </figure>
            </div>
            <div class="column is-12 featured-content ">
              <h2 class="heading post-category"><%= posts.user.name %></h2>
              <h2 class="heading post-category"><%= posts.aquarium.name %></h2>
              <%= link_to t('posts.index.show_post'), post_path(posts), class: "button is-small is-info is-outlined" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>