<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-8">
        <h1 class="title is-2 has-text-centered"><%= t('defaults.login') %></h1>
        <%= form_with url: login_path, local: true, class: 'box' do |f| %>
          <div class="field">
            <%= f.label t('activerecord.attributes.user.email'), class: 'label' %>
            <div class="control">
              <%= f.text_field :email, class: 'input' %>
            </div>
          </div>
          <div class="field">
            <%= f.label t('activerecord.attributes.user.password'), class: 'label' %>
            <div class="control">
              <%= f.password_field :password, class: 'input' %>
            </div>
          </div>
          <div class="field">
            <div class="control">
              <%= f.submit t('defaults.login'), class: 'button is-info' %>
            </div>
          </div>
        <% end %>
        <div class="has-text-centered">
          <%= link_to t('user_sessions.new.to_new_user_page'), new_user_path, class: 'has-text-info' %>
          <%# <%= link_to t('user_sessions.new.forgot_password'), new_password_reset_path, class: 'has-text-primary' %>
        </div>
      </div>
    </div>
  </div>
</section>
