<section class="section">
  <div class="container">
    <% if flash.now[:notice] %>
      <div class="notification is-danger">
       <p><%= flash.now[:notice] %></p>
      </div>
    <% end %>

    <div>
      <%= link_to (t 'defaults.browser_back'), admin_fish_path(@fish), class: "button is-primary" %>
    </div>

    <%= form_with model: @fish, url: admin_fish_path(@fish), local: false, class: 'box' do |form| %>
      <% if @fish.errors.any? %>
        <div class="notification is-danger">
          <h2><%= pluralize(@fish.errors.count, "error") %> prohibited this fish from being saved:</h2>
          <ul>
            <% @fish.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="field">
        <%= form.label :name, class: 'label' %>
        <div class="control">
          <%= form.text_field :name %>
        </div>
      </div>

      <div class="field">
        <%= form.label :image, class: 'label' %>
        <div class="control">
          <%= form.file_field :image, accept: 'image/*', id: 'image_field' %>
          <%= form.hidden_field :image_cache %>
          <div class="mt-3 mb-3">
            <%= image_tag @fish.image.url, id: 'preview', class: 'preview-image', style: 'max-width: 300px; max-height: 200px;' %>
          </div>
        </div>
      </div>

      <div class="field">
        <%= form.label :location_id, class: 'label' %>
        <div class="control">
          <%= form.collection_select :location_id, Location.all, :id, :name, { prompt: "出現場所を選択" }, { class: 'select' } %>
        </div>
      </div>

      <div class="field">
        <%= form.label :selling_price_tanuki, class: 'label' %>
        <div class="control">
          <%= form.text_field :selling_price_tanuki %>
        </div>
      </div>

      <div class="field">
        <%= form.label :selling_price_justin, class: 'label' %>
        <div class="control">
          <%= form.text_field :selling_price_justin %>
        </div>
      </div>

      <div class="field">
        <div class="control">
          <%= form.submit action_name == 'new' ? t('defaults.post_register') : t('defaults.update'), class: 'button is-primary' %>
        </div>
      </div>
    <% end %>
  </div>
</section>
